version: '3.8'

services:
  database:
    image: postgres:12
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: paoecirco.org
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: paoecirco.org-server
      dockerfile: Dockerfile
    depends_on:
      - database
    environment:
      ASPNETCORE_ENVIRONMENT: Release
      VIRTUAL_HOST: paoecirco.org
      VIRTUAL_PORT: 8080
      LETSENCRYPT_HOST: paoecirco.org
      LETSENCRYPT_EMAIL: ritexil602@cucadas.com

  nginx-proxy:
    image: jwilder/nginx-proxy
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
      - ./certs:/etc/nginx/certs

  letsencrypt-nginx:
    image: jrcs/letsencrypt-nginx-proxy-companion
    restart: always
    depends_on:
      - nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ./vhost.d:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html

volumes:
  pgdata:
